<div id="features">
  <div class="feature">
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/twitter/iPhone-s1.png" width="300" />
        </div>
        <p> Daily stats about new followers, unfollowers, who unfriended you and who blocked you on Twitter. </p>
      </h3>
    </div>       
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/twitter/iPhone-s2.png" width="300" />
        </div>
        <p> Report all the followers who are not following back in order to unfollow them with just one tap. </p>
      </h3>
    </div>
  </div>
  <div class="feature"> 
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/twitter/iPhone-s3.png" width="300" />
        </div>
        <p> Find out all your fans and mutual friends! Don't hesitate to follow them back from the app. </p>
      </h3>
    </div> 
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/twitter/iPhone-s4.png" width="300" />
        </div>
        <p> How to discover followers who may be interested in your account? With the exclusive Copy Followers tool. </p>
      </h3>
    </div>
  </div>   
  <div class="feature"> 
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/twitter/iPhone-s5.png" width="300" />
        </div>
        <p> FOLLOW AND UNFOLLOW<br>Twitter users in just one tap. </p>
      </h3>
    </div>  
  </div>  
  <div class="feature"> 
      <div class="appstore">
    	<div class="appstore-details">
      		<h2>
        		<p><a href="https://get.stillfollowers.com/twitter?via=web"> ❤️ GET TWITTER FOLLOWERS NOW ❤️ </a></p>
        		<div class="images-center">
          			<a href="https://get.stillfollowers.com/twitter?via=web"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="260"></a>
        		</div>
        		<p><a href="https://get.stillfollowers.com/twitter?via=web"> Get it FREE on the App Store! </a></p>
        		<p> &nbsp; </p>
        	</h2>
    	</div>
    </div>
  </div>  
</div>

