<div class="appstore">
	<div class="appstore-details">
		<h2>
        	<p> &nbsp; </p>
        	<div class="images-center">
        		<a href="https://get.stillfollowers.com/tiktok?via=web"><img src="/assets/img/tiktok/Icon-TikTok-App.png" width="200" /></a>
        	</div>
        	<p><a href="https://get.stillfollowers.com/tiktok?via=web"> Join Hundreds of Happy Users! 🚀</a></p>
      	</h2>
      	<h2>
        	<p><a href="https://get.stillfollowers.com/tiktok?via=web"> ❤️ GET TIKTOK FOLLOWERS NOW ❤️ </a></p>
        	<div class="images-center">
          		<a href="https://get.stillfollowers.com/tiktok?via=web"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="260"></a>
        	</div>
        	<p><a href="https://get.stillfollowers.com/tiktok?via=web"> Get it FREE on the App Store! </a></p>
        	<p> &nbsp; </p>
        </h2>
        <!--
        <h2>
            <img src="/assets/img/tiktok/Icon-TikTok-App.png" width="200" />
            <p> &nbsp; </p>
            <p>Coming Soon on the App Store!</p>
            <p> &nbsp; </p>
        </h2>
        -->
    </div>
</div>